@model IEnumerable<Search_Recipes.Models.Recipe>

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="Food Recipes; charset=utf-8" />
    <meta name="author" content="Obtanica" />
    <meta name="description" content="Meal Plan">
    <!-- Document title -->
    <title>Children Meal Plan | Allergens Away</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/searchPageTemplate/css/plugins.css" rel="stylesheet">
    <link href="~/searchPageTemplate/css/style.css" rel="stylesheet">
    <link href="~/searchPageTemplate/css/responsive.css" rel="stylesheet">

</head>


<body class="container-fluid">

    <div class="body-inner">

        <header id="header" style="margin-top:30px" data-transparent="true" data-fullwidth="true" class="dark">
            <div class="header-inner">
                <div class="container-fluid">
                    <!--Logo-->
                    <div id="logo">
                        <a href="https://obtanicallergensaway.tk" class="logo">
                            <img src="~/Pictures/App-icon-horizon.png" style="margin-left:50px" />
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container-fluid">
                            <nav>
                                <ul>
                                    <li><a href="https://obtanicallergensaway.tk" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Home</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/education-of-allergy/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">For Kids</a></li>
                                    <li><a href="https://searchobtanicallergnsaway.azurewebsites.net" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Find Recipes</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/allergy-centres/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Allergy Center</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/contact/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">About Us</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>

        <!-- Page title -->
        <section id="page-title"
                 style="background-image: url('../../Pictures/ChildrenMP.jpg');background-size:cover">
            <div class="container">
                <div class="page-title" style="margin-top:130px">
                    <div class="container-fluid animated fadeInDown visible" data-animate="fadeInDown" data-animate-delay="1200">
                        <p style="font-family:'Times New Roman', Times, serif; font-size:100px;color:orangered"> Meal Plan: Dessert</p>

                    </div>
                    <div style="margin-top:200px" />
                </div>
            </div>
        </section>


        <!-- end: Page title -->
        <div class="container">
            <nav class="grid-filter gf-outline" data-layout="#portfolio" style="margin-top:100px">
                <ul>
                    <li class="active">@Html.ActionLink("Choiceness", "Index", "ChildrenMP")</li>
                    <li>@Html.ActionLink("Gluten-free", "Glutenfree", "ChildrenMP")</li>
                    <li>@Html.ActionLink("Dairy-free", "Dairyfree", "ChildrenMP")</li>
                    <li>@Html.ActionLink("Peanut-free", "Peanutfree", "ChildrenMP")</li>
                    <li>@Html.ActionLink("Soy-free", "Soyfree", "ChildrenMP")</li>
                    <li>@Html.ActionLink("Tree Nut-free", "TreeNutfree", "ChildrenMP")</li>
                </ul>
                <div class="grid-active-title">Choiceness</div>
            </nav>
        </div>
        <hr />
        <br />

        <section id="page-content">
            <div class="container">
                <!-- Gallery -->
                <div class="post-3-columns">
                    <div class="blockquote">
                        <p>
                            Cakes
                        </p>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/ChildrenMP/Details/6865">

                                    <img src="~/Pictures/recipePics/cake1.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:Red"><a href="~/ChildrenMP/Details/6865">Dairy-free</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/ChildrenMP/Details/6865">
                                        Carrot Cake with Cream Cheese-Lemon Zest Frosting
                                    </a>
                                </h2>
                                <p> It isn't too sweet, and it has a moist, dense texture from the carrots and pineapple. It's also one of my most popular cakes at weddings and parties. When I make it at home, I throw more things into the batter—for example, a handful of pumpkin seeds or toasted pecans if I have them lying around. The beauty of this recipe is that you can increase the spices or omit the nuts, and it will still taste great.</p>

                                <a href="~/ChildrenMP/Details/6865" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/ChildrenMP/Details/689">

                                    <img src="~/Pictures/recipePics/cake1.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:Red"><a href="~/ChildrenMP/Details/6865">Gluten-free</a></span>


                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/ChildrenMP/Details/689">
                                        Corn Cakes Topped with Goat Cheese and Bacon
                                    </a>
                                </h2>
                                <p>
                                    The heartland is known for its grains and its pork; this first course features two of the region's best products—corn and bacon.
                                </p>
                                <a href="~/ChildrenMP/Details/689" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/ChildrenMP/Details/628">

                                    <img src="~/Pictures/recipePics/ice cream2.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:Red"><a href="~/ChildrenMP/Details/1932">Soy-free</a></span>

                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/ChildrenMP/Details/628">
                                        Mexican Chocolate Cake
                                    </a>
                                </h2>
                                <p>
                                    At the bakery, Rather makes both cupcakes and bundt cake with this recipe. The hint of cinnamon in the batter is a nod toward Mexican chocolate, which often contains cinnamon and spices.
                                </p>
                                <a href="~/ChildrenMP/Details/628" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="blockquote">
                        <p>
                            Cakes
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <img src="~/Pictures/App-icon-horizon.png" />
                        </div> <div class="col-lg-7">
                            <p>
                                Allergens Away by A26 Obtanica is built around helping those suffering from food allergies.
                                We’re your companion in preparing food for yourselves and those you care about.
                                Resources for parents who want to teach their kids about food allergies are available here too.
                            </p>
                            <br />
                            <p>
                                Made with ❤️ in Melbourne, Australia.
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </footer>

    </div>



                <script src="~/searchPageTemplate/js/jquery.js"></script>
                <script src="~/searchPageTemplate/js/functions.js"></script>
</body>