@model IEnumerable<Search_Recipes.Models.Recipe>

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="Food Recipes; charset=utf-8" />
    <meta name="author" content="Obtanica" />
    <meta name="description" content="Meal Plan">
    <!-- Document title -->
    <title>Meal Plan | Allergens Away</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/searchPageTemplate/css/plugins.css" rel="stylesheet">
    <link href="~/searchPageTemplate/css/style.css" rel="stylesheet">
    <link href="~/searchPageTemplate/css/responsive.css" rel="stylesheet">

</head>

<body class="container-fluid">

    <div class="body-inner">

        <header id="header" style="margin-top:30px" data-transparent="true" data-fullwidth="true" class="dark">
            <div class="header-inner">
                <div class="container-fluid">
                    <!--Logo-->
                    <div id="logo">
                        <a href="https://obtanicallergensaway.tk" class="logo">
                            <img src="~/Pictures/App-icon-horizon.png" style="margin-left:50px" />
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container-fluid">
                            <nav>
                                <ul>
                                    <li><a href="https://obtanicallergensaway.tk" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Home</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/education-of-allergy/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">For Kids</a></li>
                                    <li><a href="https://searchobtanicallergnsaway.azurewebsites.net" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Find Recipes</a></li>

                                    <li><a href="https://obtanicallergensaway.tk/allergy-centres/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">Allergy Center</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/contact/" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:white">About Us</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>

        <!-- Page title -->
        <section id="page-title"
                 style="background-image: url('../../Pictures/fitnessMP.jpg');background-size:cover">
            <div class="container">
                <div class="page-title" style="margin-top:200px">
                    <div class="container-fluid animated fadeInDown visible" data-animate="fadeInDown" data-animate-delay="1200">
                        <p style="font-family:'Times New Roman', Times, serif; font-size:100px;color:black"> Meal Plan: Fitness</p>
                    </div>
                    <div style="margin-top:200px" />
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <div class="container">
            <nav class="grid-filter gf-outline" data-layout="#portfolio" style="margin-top:100px">
                <ul>
                    <li>@Html.ActionLink("Choiceness", "Index", "Fitness")</li>
                    <li>@Html.ActionLink("Gluten-free", "Glutenfree", "Fitness")</li>
                    <li>@Html.ActionLink("Dairy-free", "Dairyfree", "Fitness")</li>
                    <li>@Html.ActionLink("Peanut-free", "Peanutfree", "Fitness")</li>
                    <li>@Html.ActionLink("Soy-free", "Soyfree", "Fitness")</li>
                    <li class="active">@Html.ActionLink("Tree Nut-free", "Tree Nutfree", "Fitness")</li>
                </ul>
                <div class="grid-active-title">Tree Nut-free</div>
            </nav>
            <hr />
        </div>

        <section id="page-content">
            <div class="container">
                <!-- Gallery -->
                <div class="post-3-columns">
                    <div class="blockquote">
                        <p>
                            breakfast
                        </p>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/6336">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/6336">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/6336">
                                        Fruit Salad with Ginger Syrup
                                    </a>
                                </h2>
                                <p>
                                    This recipe yields more ginger syrup than you'll need for the fruit salad. Add a spoonful to a glass of club soda, sparkling water, or iced tea for a refreshing summer drink.
                                </p>

                                <a href="~/Fitness/Details/6336" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/9079">
                                    <img src="~/Pictures/Candy.jpg" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/9079">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/9079">
                                        Fried Eggs Over Warm Lentil Salad with Lardons
                                    </a>
                                </h2>
                                <p>
                                    A food editor savored this breakfast dish in a small bistro as her first meal in Paris and has never forgotten it. We've made it easy to re-create at home. It makes a hearty breakfast, brunch, or supper dish.
                                </p>

                                <a href="~/Fitness/Details/9079" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/2660">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/2660">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/2660">
                                        Apricot Spread
                                    </a>
                                </h2>
                                <p>
                                    This simple apricot-based condiment tastes as bright and sunny as it looks. Spread it on toast like a homemade jam, stir some into yogurt or a vinaigrette, or use it as a filling for white or génoise layer cakes.
                                </p>

                                <a href="~/Fitness/Details/2660" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />
                    <div class="blockquote">
                        <p>
                            lunch
                        </p>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/10329">

                                    <img src="~/Pictures/recipePics/fish1.png" />
                                </a>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/10329">
                                        Apple and Smoked-Bacon Salad with Lychees and Chili Nuts
                                    </a>
                                </h2>
                                <p>
                                    Chang's two restaurants cater decidedly to the pork lover, and this salad is no exception. Among the sweet, smoky, and tart notes tossed together, you'll get an occasional zing of heat from the chili nuts (which, served on their own, may very well become your new favorite bar snack).
                                </p>
                                <a href="~/Fitness/Details/10329" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/8155">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/8155">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/8155">
                                        Arugula, Pear and Stilton Salad

                                    </a>
                                </h2>
                                <p>
                                    Other top-quality blue cheeses-like Maytag, Danish or Roquefort-are fine replacements for the Stilton. And if arugula is unavailable, choose another slightly bitter salad green, such as curly endive, chicory or baby salad greens; spinach mixed with some watercress would also work quite well.
                                </p>

                                <a href="~/Fitness/Details/8155" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/9755">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/9755">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/9755">
                                        Artichoke, Cherry Tomato, and Feta Salad with ArtichokePesto Crostini
                                    </a>
                                </h2>
                                <p>
                                    This salad is served with crostini topped with artichoke pesto instead of croutons.
                                </p>

                                <a href="~/Fitness/Details/9755" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />
                    <div class="blockquote">
                        <p>
                            dinner
                        </p>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/10061">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/10061">High Rating</a></span>

                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/10061">
                                        Sea Bass in Papillote
                                    </a>
                                </h2>
                                <p>
                                    Traditional papillote takes time and requires origami-like folding. Here, we use foil to make a no-mess pouch; the fish becomes infused with the flavors of tomato, capers, garlic, and lemon.
                                </p>

                                <a href="~/Fitness/Details/10061" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/1120">

                                    <img src="~/Pictures/recipePics/steak 1.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/1120">High Rating</a></span>
                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/1120">
                                        Beef Tenderloin Steaks with Chili Sauce
                                    </a>
                                </h2>
                                <p>
                                    Steaks at Tequila restaurant are offered with sautéed chard and roasted red potatoes.
                                </p>
                                <a href="~/Fitness/Details/1120" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="~/Fitness/Details/7074">
                                    <img alt="" src="~/Pictures/About-us-meal-plan.png" />
                                </a>
                                <span class="post-meta-category" style="background-color:red"><a href="~/Fitness/Details/7074">High Rating</a></span>

                            </div>
                            <div class="post-item-description">
                                <h2>
                                    <a href="~/Fitness/Details/7074">
                                        Red-Lentil Soup
                                    </a>
                                </h2>
                                <p>
                                    Red lentils, faster-cooking than other varieties of the legume, are the foundation of this earthy, rustic soup. Light but satisfying, it's a wonderful (and easy) start to an autumn meal.
                                </p>

                                <a href="~/Fitness/Details/7074" class="item-link">Read More <i class="fa-angle-right"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: Gallery -->



            </div>
        </section>



        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <img src="~/Pictures/App-icon-horizon.png" />
                        </div> <div class="col-lg-7">
                            <p>
                                Allergens Away by A26 Obtanica is built around helping those suffering from food allergies.
                                We’re your companion in preparing food for yourselves and those you care about.
                                Resources for parents who want to teach their kids about food allergies are available here too.
                            </p>
                            <br />
                            <p>
                                Made with ❤️ in Melbourne, Australia.
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>