@model Search_Recipes.Models.Recipe

@{
    Layout = null;
}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="Food Recipes; charset=utf-8" />
        <meta name="author" content="Obtanica" />
        <meta name="description" content="Recipes details">
        <!-- Document title -->
        <title>Recipes Details | Allergens Away</title>
        <!-- Stylesheets & Fonts -->
        <link href="~/searchPageTemplate/css/plugins.css" rel="stylesheet">
        <link href="~/searchPageTemplate/css/style.css" rel="stylesheet">
        <link href="~/searchPageTemplate/css/responsive.css" rel="stylesheet">
    </head>


    <body>

        <header id="header" style="margin-top:30px">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="https://obtanicallergensaway.tk" class="logo">
                            <img src="~/Pictures/App-icon.jpg" width="150" />
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="https://obtanicallergensaway.tk"style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:black">Home</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/education-of-allergy/"style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:black">For Kids</a></li>
                                    <li><a href="https://searchobtanicallergnsaway.azurewebsites.net" style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:black">Find Recipes</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/allergy-centres/"style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:black">Allergy Center</a></li>
                                    <li><a href="https://obtanicallergensaway.tk/contact/"style="font-size:16px;font-family:'Mongolian',sans-serif;padding:12px 25px;color:black">About Us</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>



        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- content -->
                    <div class="content col-lg-9">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    <img alt="image" src="~/Pictures/Candy.jpg" data-lightbox="gallery-image" />
                                    <div class="post-item-description">
                                        <h2>@Html.DisplayFor(model => model.Title)</h2>
                                        <p>

                                        </p>
                                        <div class="blockquote">
                                            <p>
                                                @Html.DisplayNameFor(model => model.Rating)
                                            </p>
                                            <p>
                                                @Html.DisplayFor(model => model.Rating)
                                            </p>
                                        </div>

                                        <h3>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </h3>
                                        <p>
                                            @Html.DisplayFor(model => model.Description)
                                        </p>

                                        <br />

                                        <h3>
                                            @Html.DisplayNameFor(model => model.Categories)
                                        </h3>
                                        <p>
                                            @Html.DisplayFor(model => model.Categories)
                                        </p>
                                        <br />

                                        <h3>
                                            @Html.DisplayNameFor(model => model.Ingredients)
                                        </h3>
                                        <p>
                                            @Html.DisplayFor(model => model.Ingredients)
                                        </p>
                                        <br />

                                        <h3>
                                            @Html.DisplayNameFor(model => model.Directions)
                                        </h3>
                                        <p>
                                            @Html.DisplayFor(model => model.Directions)
                                        </p>
                                        <br />

                                        <div class="post-tags">
                                            <h4>
                                                @Html.ActionLink("Back to List", "Index")
                                            </h4>
                                        </div>


                                    </div>

                                </div>
                                <!-- end: Post single item-->

                            </div>


                        </div>
                    </div>
                    <!-- end: content -->
                    <!-- Sidebar-->
                    <div class="sidebar sticky-sidebar col-lg-3">
                        <!--widget newsletter-->
                        <!--end: widget newsletter-->
                        <!--Tabs with Posts-->
                        <div class="widget" style="visibility:hidden">
                            <div class="tabs">
                                <ul class="nav nav-tabs" id="tabs-posts" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tabs-posts-content">
                                    <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/5.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">A true story, that never been told!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 6m ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Technology</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Beautiful nature, and rare feathers!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">The most happiest time of the day!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Beautiful nature, and rare feathers!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">The most happiest time of the day!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/8.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">New costs and rise of the economy!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                        <div class="post-thumbnail-list">
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/7.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">The most happiest time of the day!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/8.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">New costs and rise of the economy!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 11h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                            <div class="post-thumbnail-entry">
                                                <img alt="" src="images/blog/thumbnail/6.jpg">
                                                <div class="post-thumbnail-content">
                                                    <a href="#">Beautiful nature, and rare feathers!</a>
                                                    <span class="post-date"><i class="far fa-clock"></i> 24h ago</span>
                                                    <span class="post-category"><i class="fa fa-tag"></i> Lifestyle</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End: Tabs with Posts-->
                        <!-- Twitter widget -->
                        <div class="widget widget-tweeter" data-username="envato" data-limit="2" style="visibility:hidden">
                            <h4 class="widget-title">Recent Tweets</h4>
                        </div>
                        <!-- end: Twitter widget-->
                        <!--widget tags -->
                        <div class="widget  widget-tags">
                            <h4 class="widget-title">Calories</h4>
                            <div class="tags">
                                @Html.DisplayFor(model => model.Calories)
                            </div>
                            <br />

                            <h4 class="widget-title">Fat</h4>
                            <div class="tags">
                                @Html.DisplayFor(model => model.Fat)
                            </div>
                            <br />
                            <h4 class="widget-title">Protein</h4>
                            <div class="tags">
                                @Html.DisplayFor(model => model.Protein)
                            </div>
                            <br />
                        </div>
                        <!--end: widget tags -->


                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section>

        <a href='@Url.Action("Download","File", new { filename = ""})'></a>

        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">

                            <img src="~/Pictures/App-icon-horizon.png" />
                        </div>

                        <div class="col-lg-7">
                            <p>
                                Allergens Away by A26 Obtanica is built around helping those suffering from food allergies.
                                We’re your companion in preparing food for yourselves and those you care about.
                                Resources for parents who want to teach their kids about food allergies are available here too.
                            </p>
                            <br />
                            <p>
                                Made with ❤️ in Melbourne, Australia.
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </body>